[submodule "config"]
	path = config
	url = https://github.com/geoserver/geoserver-cloud-config
	branch = master
[submodule "geoserver"]
	path = geoserver_submodule/geoserver
	url = https://github.com/camptocamp/geoserver.git
	branch = gscloud/2.24.x/integration
	shallow = true
