# Ignore everything except target/*-bin.jar
*
!target/
target/*
!target/*-bin.jar

# Additional Maven/IDE artifacts to explicitly ignore
.classpath
.project
.settings/
.factorypath
.flattened-pom.xml
.spotless-index
*.iml
.idea/
