<configuration>

  <springProfile name="!(json-logs)">
    <!--
     default logging profile, if you add more profiles besides json-logs (e.g. "custom"),
     change name to name="!(json-logs|custom)"
    -->
    <include resource="org/springframework/boot/logging/logback/base.xml" />
  </springProfile>

  <springProfile name="json-logs">
    <appender name="jsonConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
      <encoder class="net.logstash.logback.encoder.LogstashEncoder">
        <!-- Include all MDC fields in the JSON output -->
        <includeMdcKeyName>.*</includeMdcKeyName>
      </encoder>
    </appender>
    
    <appender name="jsonFileAppender" class="ch.qos.logback.core.FileAppender">
      <file>target/test-logs/gateway-mdc-test.json</file>
      <append>false</append>
      <encoder class="net.logstash.logback.encoder.LogstashEncoder">
        <!-- Include all MDC fields in the JSON output -->
        <includeMdcKeyName>.*</includeMdcKeyName>
      </encoder>
    </appender>

    <logger name="org.geoserver.cloud.gateway.filter" level="DEBUG">
      <appender-ref ref="jsonFileAppender" />
    </logger>

    <root level="INFO">
      <appender-ref ref="jsonConsoleAppender" />
      <appender-ref ref="jsonFileAppender" />
    </root>
  </springProfile>

  <logger name="org.springframework.context.support.PostProcessorRegistrationDelegate$BeanPostProcessorChecker" level="ERROR"/>
</configuration>