<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="WARN">
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="org.springframework" level="WARN"/>
    <logger name="org.testcontainers" level="INFO"/>
    <logger name="com.github.dockerjava.zerodep" level="WARN"/>
    <logger name="com.zaxxer.hikari.HikariDataSource" level="WARN"/>
    <logger name="org.geoserver.cloud.autoconfigure.catalog.backend" level="INFO"/>
    <logger name="org.geoserver.cloud.config.catalog.backend.pgconfig" level="WARN"/>
    <logger name="org.geoserver.cloud.gwc.backend.pgconfig" level="INFO"/>
    <logger name="org.geoserver.catalog.impl" level="OFF"/>
    <logger name="org.geoserver.cloud.backend.pgconfig.catalog.repository" level="INFO"/>
    
</configuration>
