
spring.cloud.config.server.git:
  uri: ${config.git.uri:https://github.com/geoserver/geoserver-cloud-config.git}
  default-label: ${config.git.label:master}
  skip-ssl-validation: true
  timeout: 10
  # Default value of 0 makes the git backend fetch updated configuration from the Git repo every time it is requested
  refresh-rate: 30
          # where to store the cloned repository, if unset, it'll use /tmp/config-repo-<randomid>
          # basedir: ${config.git.basedir:/tmp/git_config} # where to store the cloned repository, if unset, it'll use /tmp/config-repo-<randomid>

