<configuration>

  <springProfile name="default">
    <include resource="org/springframework/boot/logging/logback/base.xml" />
  </springProfile>

  <springProfile name="json-logs">
    <appender name="jsonConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
      <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
    </appender>

    <root level="INFO">
      <appender-ref ref="jsonConsoleAppender" />
    </root>
  </springProfile>

</configuration>