info:
  component: ${spring.application.name}
  instance-id: ${spring.application.name}:${spring.application.instance_id:${spring.cloud.client.ip-address}}:${server.port}
server:
  port: 8761
  tomcat:
    max-connections: 1024    
    threads:
      min-spare: 1
      max: 25
spring:
  application.name: discovery
  main.banner-mode: off

eureka:
  server:
    enable-self-preservation: true
    expected-client-renewal-interval-seconds: 10
  instance:
    hostname: localhost
    instance-id: ${info.instance-id}
    prefer-ip-address: true
    lease-expiration-duration-in-seconds: 15
  client:
    enabled: true
    register-with-eureka: false
    fetch-registry: false
    serviceUrl:
      defaultZone: http://${eureka.instance.hostname}:${server.port}/eureka/

management:
  # enable custom properties in /actuator/info like info.component
  info.env.enabled: true
  server.port: 8081
  endpoints:
    access.default: read-only
    web.exposure.include: "*"
  endpoint:
    info.access: read-only
    metrics.access: read-only
    shutdown.access: read-only
    health:
      access: read-only
      probes.enabled: true
      show-details: always
  metrics:
    enable:
      all: true
  atlas.metrics.export.enabled: false

logging:
  level:
    root: INFO
    com.netflix.discovery: WARN
    com.netflix.eureka: WARN
    c.n.e.registry.AbstractInstanceRegistry: ERROR # ignore WARN No remote registry available for the remote region us-east-1
