<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="WARN">
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="org.springframework.test" level="DEBUG"/>
    <logger name="org.springframework.boot.test" level="WARN"/>
    <logger name="org.geoserver.cloud.catalog.locking" level="INFO"/>
    <logger name="org.geoserver.catalog.impl" level="OFF"/>
    <logger name="org.geoserver.cloud.backend.pgconfig.catalog.repository" level="DEBUG"/>
</configuration>
