<configuration>
  <statusListener class="ch.qos.logback.core.status.NopStatusListener" />
  <include resource="org/springframework/boot/logging/logback/base.xml" />
  <root level="WARN"/>
  <logger name="org.springframework.context.support.PostProcessorRegistrationDelegate$BeanPostProcessorChecker" level="ERROR"/>
</configuration>
