# Spring Boot application-specific config properties to be shared by all
# GeoServer microservices. Imported from geoserver.yml, in order to separate
# application from geoserver configuration.
server:
  tomcat:
    # Maximum number of connections that the server accepts and processes at any given time.
    # Once the limit has been reached, the operating system may still accept connections based on the "acceptCount" property.
    max-connections: ${tomcat.max.connections:8192}
    # Maximum queue length for incoming connection requests when all possible request processing threads are in use.
    accept-count: ${tomcat.accept.count:100}
    accesslog.enabled: ${tomcat.accesslog.enabled:false}
    mbeanregistry.enabled: ${tomcat.mbeanregistry.enabled:false}
    threads:
      # Minimum amount of worker threads.
      min-spare: ${tomcat.threads.min.spare:10}
      # Maximum amount of worker threads.
      max: ${tomcat.threads.max:200}
  port: 8080
  # Let spring-boot's ForwardedHeaderFilter take care of reflecting the client-originated protocol and address in the HttpServletRequest  
  forward-headers-strategy: framework
  servlet.context-path: /

spring:
  rabbitmq:
    host: ${rabbitmq.host:rabbitmq}
    port: ${rabbitmq.port:5672}
    username: ${rabbitmq.user:guest}
    password: ${rabbitmq.password:guest}
    virtual-host: ${rabbitmq.vhost:}
  cloud:
    bus:
      enabled: true
      id: ${info.instance-id} # use the same instance id for eureka (see service's' bootstrap.yml) and cloud-bus' rabbitmq instance id
      trace.enabled: false #switch on tracing of acks (default off).
    stream.bindings:
      springCloudBusOutput.destination: geoserver
      springCloudBusInput.destination: geoserver
    config.name: geoserver
  jackson:
    default-property-inclusion: non-empty
    serialization.indent-output: false
  config:
    import:
      # import definition of common bootstrap configuration profiles    
      - classpath:gs_cloud_bootstrap_profiles.yml
    # load externalized configuration from geoserver.yml
    name: geoserver
  # and always include the service specific settings from the profile
  profiles.include: wfs_service
  banner.charset: UTF-8 # https://patorjk.com/software/taag/#p=display&f=Marquee&t=GeoServer%20WFS
  main:
    banner-mode: off
    allow-bean-definition-overriding: true
    allow-circular-references: true # false by default since spring-boot 2.6.0, breaks geoserver initialization
    web-application-type: servlet
  application.name: wfs-service #set to true if doing manual testing and want formatted output
  autoconfigure.exclude:
    - org.springframework.boot.autoconfigure.freemarker.FreeMarkerAutoConfiguration
    - org.springframework.boot.autoconfigure.security.servlet.SecurityAutoConfiguration
    - org.springframework.boot.autoconfigure.security.servlet.UserDetailsServiceAutoConfiguration
    - org.springframework.boot.autoconfigure.jdbc.DataSourceAutoConfiguration
    - org.springframework.boot.autoconfigure.jdbc.DataSourceTransactionManagerAutoConfiguration
    - org.springframework.boot.autoconfigure.orm.jpa.HibernateJpaAutoConfiguration
    - org.springframework.boot.actuate.autoconfigure.security.servlet.ManagementWebSecurityAutoConfiguration
    - org.springframework.boot.autoconfigure.flyway.FlywayAutoConfiguration
    - org.springframework.boot.autoconfigure.ldap.LdapAutoConfiguration

management:
  endpoints:
    access.default: read-only
    web.exposure.include: "*"
  endpoint:
    info.access: read-only
    metrics.access: read-only
    shutdown.access: read-only
    health:
      access: read-only
      probes.enabled: true
      show-details: always
  metrics:
    binders:
      processor.enabled: true
      uptime.enabled: true
      jvm.enabled: true
    enable:
      all: true
      jvm: true
  server.port: 8081
  atlas.metrics.export.enabled: false
info:
  component: Web Feature Service
  instance-id: ${spring.application.name}:${vcap.application.instance_id:${spring.application.instance_id:${spring.cloud.client.ip-address}}:${server.port}}
geoserver:
  base-path: /wfs
  service:
    # Fixed per-service value to support conditional activation of extensions.
    # This property is checked by @ConditionalOnGeoServerWFS
    wfs.enabled: true

eureka.client.fetch-registry: false
---
# this profile is automatically included if any of the embedded
# config_first or discovery_first profile groups are active
spring.config.activate.on-profile: discovery_eureka
eureka:
  client.healthcheck.enabled: true
  server.url: http://discovery:8761/eureka
