<configuration>
  <statusListener class="ch.qos.logback.core.status.NopStatusListener" />
  <include resource="org/springframework/boot/logging/logback/base.xml"/>
  <logger name="org.springframework.test" level="INFO"/>
  <logger name="org.geoserver" level="DEBUG"/>
  <logger name="org.springframework.context.support.PostProcessorRegistrationDelegate$BeanPostProcessorChecker" level="ERROR"/>
</configuration>
